.container {
    /* background-color: rgb(30, 26, 231);
    color: yellow; */
    /* min-height: 20px; */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* padding: 20px; */
}

.header {
    background-color: rgb(34, 98, 151);
    padding: 20px 20px;
    /* float: right; */
    max-width: 100%;
    
    display: block;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    
}

.active {
    background-color: #e2e619;
    
}