:root {
    --header-height: 60px;
    --color-yellow: honeydew;
}

.App {
    height: 100vh;
    width: 100vw;
}

.App > div {
    width: inherit;
    height: inherit;
    display: flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    align-content: flex-start;
}

.header {
    background-color: var(--color-yellow);
    text-align: center;
    color: red;
    width: inherit;
    height: var(--header-height);
}

.content {
    height: auto;
    width: inherit;
}