.content {
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(206, 200, 200, 0.719);
    width: 40%;
    height: 50rem;
    margin-left: 50px;
    margin-right: 7rem;
    display: inline-block;
    border-radius: 06px;
    box-shadow: 0 4px 20px 0 rgba(51, 184, 162, 0.226), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.semester-title {   
    color: #12193bd2;
    border-radius: 50px;
    padding: 0px 10px;
    text-align: center;
    background: #083b6b3f;
    font-size: small;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}

.semester-dropdown {
    color: beige;
    background-color: #063d70bc;
    padding: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.table-wrapper {
    background-color: azure;
    display: inline-block;
    width: 90%;
    border-radius: 10px;
    margin-top: 2rem;
    
}

.table-wrap {
    background-color: rgba(129, 134, 134, 0.835);
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
}

table {
    padding: 5px;
    align-self: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}
  
td, th {
    border: 1px solid #dddddd;
    padding: 15px;
    text-align: center;
}
  
tr:nth-child(even) {
    background-color: #c3c1c1;
}