/* .welcome {
    color: black;
    float: right;
    margin: 20px;
    padding: 5px;
    background-color: bisque;
} */

.dashboard-wrapper {
    align-items: center;
    position: fixed;
    left: 37%;
    top: 25%;
    padding: 35px 80px;
    border-radius: 10px;
    background: #bdb9b9c7;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.335), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-title {
    color: #12193bd2;
    border-radius: 20px;
    padding: 0px 5px;
    text-align: center;
    background: #083b6b3f;
    font-size: small;
}

.logout {
    border-radius: 50px;
    background-color: rgb(42, 48, 51, 230);
    margin-top: 30px;
    margin-left: 70px;
    color: #eaeaea;
    padding: 3px 25px;
    cursor: pointer;
}

.logout:hover {
    background-color: teal;
}

.dashboard-elements {
    border-radius: 10px;
    background-color: rgb(11, 49, 68);
    padding: 10px 63px;
    margin: 5px;
    color: rgb(231, 231, 231);
    font-size: medium;
    width: 15em;
    cursor: pointer;
}

.dashboard-elements:hover{
    background-color: teal;
}