.dashboard-wrapper {
    align-items: center;
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    padding: 35px 80px;
    border-radius: 10px;
    background: #bdb9b9c7;
}

.dashboard {
    color: #12193bd2;
    border-radius: 20px;
    padding: 0px 5px;
    text-align: center;
    background: #083b6b3f;
    font-size: small;
}
.logout {
    border-radius: 50px;
    background-color: rgb(42, 48, 51, 230);
    margin-top: 30px;
    margin-left: 85px;
    color: #eaeaea;
    padding: 0px 24px;
}

.elements {
    border-radius: 10px;
    background-color: rgb(11, 49, 68);
    padding: 10px 63px;
    margin: 5px;
    color: rgb(231, 231, 231);
    font-size: medium;
    width: 15em;
}