.body {
    background-color: rgb(235, 235, 134);
}

.top-bar{
    background-color: rgb(11, 92, 163);;
    padding: 5px;
    height: 4rem;
}

.welcome {
    float: right;
    margin: 20px;
    padding: 5px;
    font-size: larger;
    /* background-color: bisque; */
}

.login-icon {
    /* float: left; */
    border-radius: 50%;
    padding: rem 0rem 0rem 1rem;
    text-align: center;
}

.bg-img {
    background-image: url(./bg_img.jpg);
    background-color: rgba(0, 0, 0, 0.815);
    background-repeat: no-repeat;
    padding: 25% 30%;
    filter: blur(12px);
}

.login-wrapper {
    align-items: center;
    position: fixed;
    top: 25%;
    left: 40%;
    padding: 60px 70px 40px 80px;
    border-radius: 10px;
    background: #bdb9b9;
    box-shadow: 0 4px 20px 0 rgba(51, 184, 162, 0.226), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginID {
    color: #12193bd2;
    border-radius: 20px;
    padding: 0px 3px;
    text-align: center;
    background: #083b6b3f;
    font-size: small;
}

.form-elemts {
    align-items: center;
    left: 50%;
    padding: 5px;
    border-radius: 3px;
    text-indent: 15px;
}

.loginButton {
    border-radius: 5px;
    background-color: rgb(42, 48, 51);
    padding: 3px 69px;
    color: beige;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginButton:hover{
    background-color: teal;
}