.bg {
    color: #927979;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-top: -50px;
    margin-left: -140px;
    padding: .5in;
    border-radius: 20px;
    background: #eaeaea;
}

.loginID {
    color: #022e21ce;
    padding: 00.4px 54px;
    border-radius: 30px;
    background: #083b6b3f;
}

.middle {
    align-items: center;
    /* margin-right: 250px; */
    margin-left: 60px;
    color: rgb(11, 11, 97);
}

.button {
    color: aquamarine;
}

.input[type="submit"] {
    display: block;
    margin: 0 auto;
}