body {
    background-color: honeydew;
}

.wrapper {
    width: 100%;
    /* new code here */
    display: flex;
    /* margin-left: 2rem; */
}

.side-dashboard {
    width: 15rem;;
    /* height: 60rem; */
    padding-right: 5rem;
    /* position: fixed; */
    /* background-color: #f19191; */
    /* max-width: 300px;
    width: 100%;  
    height: auto;
    float: left;
    background-color: blue;
    color: darkgoldenrod; */
}

.sidebar-buttons {    
    margin-left: 2rem;
    display: flex;
    font-family: "Sen",sans-serif;
    font-size: larger;
    padding: .8rem;
    padding-left: 20px;
    border-radius: 5px;
    width: 80%;
    color: black;
    cursor: pointer;
    align-items: center;
    color: rgba(0,0,0,.5);
    transition: .28s;
}

.sidebar-buttons.active{
    background-color: rgba(0,0,0,.2);
    box-shadow: 0 4px 8px 0 rgba(50, 13, 184, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
    transition: .28s;
}

.butons:hover{
    color: blue;
}

.title{
    /* text-transform: uppercase; */
    /* font-family: 'Poppins',sans-serif; */
    /* font-size: 10px; */
    /* margin-bottom: .2rem; */
    margin-top: 3rem;
    margin-left: 3rem;   
    padding: 0px 5px;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}
  
.main-content {
    /* background-color: rgba(125, 226, 226, 0.349); */
    border-radius: 10px;
    /* padding: 2rem; */
    margin-top: 5rem;
    margin-left: 25rem;
    /* border-radius: 10px; */
    
}

.search-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    /* position: fixed; */
    /* top: 20%;
    left: 40%; */
    padding: 75px 60px;
    border-radius: 10px;
    background: #d6d1d1ab;
}

.search-box {
    background-color:  #bdb9b9c7;
    padding: 0px 10px;
    border-radius: 5px;
    padding-bottom: 4px;
}

.search-box:focus-within {
    color: rgba(9, 80, 93, 0.616);
}

.search-instruction {
    font-size: large;
    text-align: center;
    /* color: rgb(25, 78, 78); */
}

.search-placeholder {
    border-color:  #bdb9b9c7;
    /* align-items: center; */
    /* left: 50%; */
    padding: 5px 35px;
    border-radius: 10px;
    text-indent: 0px;
    /* margin-bottom: 20px; */
}

.search-button {
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(11, 49, 68);
    padding: 7px 30px;
    color: beige;
    font-size: medium;
    cursor: pointer;
}

.search-button:hover {
    background-color: teal;
    
}

.or-divider {
    font-weight: 600;
    color: black;
    margin: 10px;    
}

.newprof-button {
    margin-top: 05px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(11, 49, 68);
    padding: 8px 15px;
    width: 7em;
    word-wrap: break-word;
    color: beige;
    font-size: medium;
    cursor: pointer;
}
.newprof-button:hover {
    background-color: teal;
}